.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 108rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 2rem;
  flex: 0 0 auto;
}

.sectionMail {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}
