.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 108rem;
  margin: 0 auto;
  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}

.section {
  margin-bottom: 2rem;
  flex: 0 0 auto;
}

.sectionMail {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}
