@use 'abstracts/mixins';
.tableSection {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
}

.status {
  flex: 0 0 auto;
  color: #666666;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 2px solid #efefef;
  padding-bottom: 1rem;
}

.statusNumber {
  font-size: 2rem;
  letter-spacing: 1px;
}

.emptyMails {
  flex: 1 1 auto;
  position: relative;
}

.logoClass {
  margin: 10rem auto;
  display: block;
}

.header {
  border-top: solid 2px #eaeaea;
  border-bottom: solid 2px #eaeaea;
  font-size: 1.6rem;
  font-weight: 700;
}

.fromCell,
.toCell,
.subjectCell,
.dateCell {
  font-size: 1.8rem;
}

.dateCell {
  font-weight: 700;
}
