@use 'abstracts/mixins';
.tableSection {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
}

.status {
  flex: 0 0 auto;
  color: #666666;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 2px solid #efefef;
  padding-bottom: 1rem;
}

.statusNumber {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.emptyMails {
  flex: 1 1 auto;
  position: relative;
}

.logoClass {
  margin: 10rem auto;
  display: block;
}

.header {
}
