@use 'abstracts/mixins';
.tableSection {
  display: flex;
  flex-direction: column;
}

.status {
  flex: 0 0 auto;
  color: #666666;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 2px solid #efefef;
  padding-bottom: 1rem;
}

.statusNumber {
  font-size: 2rem;
  letter-spacing: 1px;
}

.emptyMails {
  flex: 1 1 auto;
  position: relative;
}

.logoClass {
  margin: 10rem auto;
  display: block;
}

.arrowUp,
.arrowDown {
  width: 1rem;
  margin-left: 5px;
  transform: translate(0, -2px);
}
.arrowDown {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(180deg);
  -ms-transform-origin: 50% 50%;
}

table.table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  @media only screen and (max-width: 37.5em) {
    //600px
    display: flex;
    flex-direction: column;
  }
}

table.table tr {
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: #f6f8fa;
  }
}

table.table th,
table.table td {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

table.table thead {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666;
  background-color: #f5f5f5;
}

table.table thead th {
  cursor: pointer;
  user-select: none;
}

table.table tr.bodyText {
  display: none;
  max-height: 0;
  cursor: default;
  transition: max-height 0.5s ease-out;
}

table.table tr.showBodyText {
  height: auto;
  display: table-row;
  max-height: 600px;
  &:hover {
    background-color: #fff;
  }
}

.selected {
  color: #000;
}
.subjectCell {
  display: flex;
}
.attachIcon {
  width: 2rem;
  margin-left: 1rem;
}

.mailIcon,
.nextIcon {
  width: 2rem;
  display: none;
  margin: 1rem auto 0;
}

.nextIcon {
  width: 0.8rem;
  margin: 0 0 0 1rem;
}

.fromCell,
.toCell,
.subjectCell,
.dateCell {
  font-size: 1.8rem;
}

.dateCell {
  font-weight: 700;
}

@media only screen and (max-width: 37.5em) {
  .fromCell {
    display: flex;
  }
  table.table {
    & tbody {
      display: flex;
      flex-direction: column;

      & tr {
        display: grid;
        grid-template-columns: 3rem auto 14.5rem;
        grid-template-rows: auto;
        grid-template-areas:
          'icon from date'
          'icon to to'
          'subject subject subject';
        border-bottom: 1px solid #eee;
        padding: 1rem;
        cursor: pointer;
      }
    }

    & td {
      border: none;
      padding: 0 1rem;
    }
  }

  .mailIcon,
  .nextIcon {
    display: block;
    grid-area: icon;
  }

  .fromCell {
    grid-area: from;
    font-weight: 700;
  }

  .toCell {
    grid-area: to;
  }

  .subjectCell {
    grid-area: subject;
  }

  .dateCell {
    grid-area: date;
    text-align: right;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  table.table tr.showBodyText {
    display: block;
    & td {
      display: block;
    }
  }
}
