.grayBar,
.grayImage {
  background-color: #eee;
}

.grayBar {
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.grayImage {
  width: 20rem;
  height: 20rem;
}
.leftOfText {
  flex: 0 0 auto;
  margin-right: 1rem;
}
.nextToImage {
  flex: 1 1 auto;
}
